In [17]:
import pandas as pd

In [18]:
csv_2008 = pd.read_csv('final_death/final2008.csv')
csv_2009 = pd.read_csv('final_death/final2009.csv')
csv_2010 = pd.read_csv('final_death/final2010.csv')

In [19]:
csv_2008['Year']=2008
csv_2009['Year']=2009
csv_2010['Year']=2010

     358_cause_recode  count  Year
0                   5      2  2008
1                   6     44  2008
2                   7      3  2008
3                   8      7  2008
4                   9      3  2008
5                  10   7747  2008
6                  11    134  2008
7                  13    449  2008
8                  14    136  2008
9                  18      3  2008
10                 20     20  2008
11                 21      3  2008
12                 22    102  2008
13                 23  35980  2008
14                 24   1750  2008
15                 27      1  2008
16                 28     18  2008
17                 29     15  2008
18                 30      2  2008
19                 31      3  2008
20                 33     10  2008
21                 35     11  2008
22                 38      2  2008
23                 39      2  2008
24                 41     66  2008
25                 42    178  2008
26                 43    147  2008
27                 47   7656  2008
28                 49   3834  2008
29                 50    848  2008
..                ...    ...   ...
316               422    677  2008
317               423  10307  2008
318               425   5034  2008
319               426    277  2008
320               427   1143  2008
321               428   8613  2008
322               429  18241  2008
323               430    723  2008
324               431   2101  2008
325               433    101  2008
326               434    566  2008
327               435  12227  2008
328               436   2053  2008
329               437     96  2008
330               438     75  2008
331               439      2  2008
332               440    203  2008
333               441   2602  2008
334               443   3187  2008
335               444    171  2008
336               445     68  2008
337               446    273  2008
338               447     78  2008
339               448   1310  2008
340               450     35  2008
341               451    349  2008
342               452     31  2008
343               454    432  2008
344               455    132  2008
345               456   2036  2008

[346 rows x 3 columns]

In [20]:
death_union = pd.concat([csv_2008,csv_2009,csv_2010])

In [21]:
death_union2['count'].sum()

7390572

In [23]:
death_union.to_csv('final_union_death.csv')